
body{
    margin: 0;
    font-family: "Inter", sans-serif;
}

main{
    max-width: 768px;
    min-height: 100vh;
}


a{
    text-decoration: none;
    color: #161616;
}

.back-btn-like-link{
    margin: 2em;
}

.back-btn-like-link > span:hover{
    text-decoration: underline;
}

/* navbar */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  2em;
    background-color: #FFF7ED;
}

.navbar{
    display: flex;
    gap: 1em;
}


.brand-name{
    font-size: 25.35px;
    font-weight: bold;
    color: #000000;
}

.navbar > a{
    color: #4D4D4D;
    font-weight: 600;
}

.navbar > a:hover{
    color:  #161616;
}

.active-link{
    color: #161616;
    font-weight: bold;
    text-decoration:2px underline #161616 ;
}

.host-nav{
    padding:2em;
    background-color: #FFF7ED;
}

/* footer */

.footer{
    background-color: #252525;
    color: #AAAAAA;
    font-size: 14px;
    padding: 2em;
}

.footer > p{
    margin: 0;
    text-align: center;
}

/* homepage */

.home-page{
    background-image: linear-gradient(rgba(0, 0, 0, 0.46),
     rgba(0, 0, 0, 0.46)), 
     url(../src/assets/image-54.png);
    background-color: black;
    background-size: cover;
    background-position: center;
    min-height: calc(100vh - 24vh);
    color: #ffffff;
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.home-page > .home-title{
    margin: 0;
}

.home-page > .home-paragraph{
    padding: .5em 0 2em;
    line-height: 1.5;
}

/* about-page */

.about-page{
    background-color: #FFF7ED;
    color: #161616;
}

.about-image{
    width: 100%;
    height: 30vh;
}

.about-text-contanier{
    padding: 3em 2em;
}

.about-title{
    margin: 0;
}

.about-paragraph{
    padding: .5em 0 ;    
    line-height: 1.5;
}

.about-text-contanier > .card{
    margin:  3em 0 0;
}

.about-card{
    background-color: #FFCC8D;
    color: #161616;
    padding: 1.5em 2em; 
    border-radius: 5px;
}

.about-card > h2{
    margin: 0.2em 0;
}

.about-card > a{
    margin: 1em 0;
    padding: 1em;
    border-radius: 6px;
}

/* vans-page */

.vans-page{
    padding: 2em 0;
    color: #161616;
    background-color: #FFF7ED;
}

.vans-page > h1{
    font-size: 32px;
    margin: 0;
    padding: 0 1em 1em;
}

.filter-btns{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 0 2em 2em;
}

.filter-btns >.filter-btn{
    background-color: #FFEAD0;
    color: #4D4D4D;
    font-weight: 500;
}

.filter-btns > .filter-btn:focus{
    outline: none;
}

.filter-btns > .clear-filters-btn{
    background-color: #FFF7ED;
    color: #4D4D4D;
    font-weight: 500;
    text-decoration: underline;
}

.filter-btn-simple:hover,
.filter-btn-rugged:hover,
.filter-btn-luxury:hover,
.filter-btn-simple:focus,
.filter-btn-luxury:focus,
.filter-btn-rugged:focus{
    color: #FFEAD0;
}

.filter-btns > .selected{
    color: #FFEAD0;
}

.filter-btn-simple:hover,
.filter-btn-simple:focus,
.filter-btn-simple.selected{
    background-color: #E17654;
}

.filter-btn-luxury:hover,
.filter-btn-luxury:focus,
.filter-btn-luxury.selected{
    background-color: #161616;
}

.filter-btn-rugged:hover,
.filter-btn-rugged:focus,
.filter-btn-rugged.selected{
    background-color: #115E59;
}


.vans-page > .vans-options{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
}

.vans-options > .van-card{
    max-width: 40vw;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}


.van-card > img {
    width: 100%;
    display: block;
    max-height: 40vh;
    display: inline-block;
    border-radius: 5px;
}


.van-text-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: start;
    padding: .5em 0 0;
    gap: .5em;
}


.van-text-container > h2,
.van-text-container > p,
.van-card > p{
    margin: 0;
}

.van-text-container > h2,
.van-text-container > p > strong {
    font-size: 20px;
}

.van-card > p{
    margin: .75em 0;
}

/* van-details-page */

.van-details-page{
    padding: 3em 2em;
    background-color: #FFF7ED;
}

.van-details-page > img{
    width: 100%;
    height: 60%;
    border-radius: 5px;
}

.van-details-page > h1{
    font-size: 32px;
}

.van-details-page > .price{
    font-size: 20px;
}

.van-details-page > .price > strong{
    font-size: 24px;
}

.van-details-page > p{
    line-height: 1.5;
}

.van-details-page > button{
    width: 100%;
    margin: 1em 0;
}


/* /host/vans */

.host-vans-list{
    background-color: #FFF7ED;
    padding: 2em;
}

.host-vans-list > h1{
    margin-top: 0;
}

.host-van{
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    gap: 1em;
    align-items: center;
    padding: 1em;
    margin: 1em 0;
}

.host-van > img{
    max-width: 15vw;
    max-height: 15vh;
    border-radius: 5px
}

.host-van > .van-detail{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.host-van > .van-detail > h2{
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}

.host-van > .van-detail > p{
    margin: 0;
    color: #4D4D4D;
    font-weight: 500;
}

/* host-van-page */

.host-van-page{
    background-color: #FFF7ED;
    color: #161616;
    padding: 2em 0;
}

.host-van-detail{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 6px;
    margin:2em;
    padding-bottom: 1em;
}

.host-van-detail > nav{
    background-color: #FFFFFF;
}


.van-summary-view{
    display: flex;
    align-items: start;
    justify-content: left;
    gap: 1em ;
    margin: 0 1.5em ;
    padding: 2em 0;
}

.van-summary-view > img{
    width: 30vw;
    height: 30wh;
    border-radius: 5px;
}

.van-summary-details > h1,
.van-summary-details > p {
    margin: 0.3em;
}

.van-summary-details > h1{
    font-size: 24px;
}

.van-summary-details > p{
    font-size: 14px;
}

.van-summary-details > p > strong{
    font-size: 18px;
}

.host-van-detail > nav{
    padding: 1.5em;
}

/* details-section, price-section and photo section */

.details-section,
.price-section,
.photos-section{
    padding: 0 1.5em;
}

.details-section > p{
    font-size: 14px;
    line-height: 1.5;
}

.details-section > p > strong {
    margin-right: .3em;
}

.price-section > p > strong{
    font-size: 24px;
}


.photos-section > img{
    width: 25vw;
    height: 15vh;
    border-radius: 5px;
}


/* button-component */

.btn,
.btn-link{
    padding: 1em;
    font-family: "Inter", sans-serif;
    font-size: 15.95px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.primary-btn{
    background-color: #FF8C38;
}

.secondary-btn{
    background-color: #161616;
}

/* btn-link */

.btn-link{

    display: inline-block;
    text-decoration: none;
    text-align: center;

}

/* badge */

.badge{
    color: #FFEAD0;
    border-radius: 5px;
    font-weight: 600;
    padding: .5em 1em;
    width: fit-content;
}

.simple{
    background-color: #E17654;
}

.rugged{
    background-color: #115E59;
}

.luxury{
    background-color: #161616;
}
